Doing this will:
<ul>
  <li>Kick everyone out</li>
  <li>Delete every message</li>
  <li>Close and Delete the room</li>
</ul>
Are you sure you want to do this?{{#if locked }} <em>(unlocking in {{secondsLeft }})</em>{{/if}}
