<div class="tag-modal modal-content">

  <div id="tag-list"  class="tags-modal__tag-list"></div>
  <div id="tag-input" class="tags-modal__tag-input"></div>

</div>
<div id="tag-error" class="tags-modal__tag-error"></div>

<div id="request_validation" class="modal--default__content__error" style="display:none">
  <div class="modal--default__content__error" id="failure-text"></div>
</div>
