<div class="modal-content">
  <table class="markdown-help-content">
    <tbody>
        <tr>
          <td><strong>Bold</strong></td>
          <td>**bold**</td>
        </tr>
        <tr>
          <td><i>Italics</i></td>
          <td>*italics*</td>
        </tr>
        <tr>
          <td><del>Strikethrough</del></td>
          <td>~~strikethrough~~</td>
        </tr>
        <tr>
          <td>Header</td>
          <td># H1     ## H2     ### H3</td>
        </tr>
        <tr>
          <td><li>item</li></td>
          <td>* item</td>
        </tr>
        <tr>
          <td>Blockquote</td>
          <td>&gt; blockquote</td>
        </tr>
        <tr>
          <td><span class="trpChatText"><span class="mention">@somebody</span> (mention)</span></td>
          <td>@somebody</td>
        </tr>
        <tr>
          <td><span class="issue open">#123</span> (issue)</td>
          <td>#123</td>
        </tr>
        <tr>
          <td><a href="http://www.youtube.com/watch?v=BROWqjuTM0g" target="_rick">Link</a></td>
          <td>[title](http://)</td>
        </tr>
        <tr>
          <td>Image</td>
          <td>![alt](http://)</td>
        </tr>
        <tr>
          <td><code>code</code></td>
          <td>`code`</td>
        </tr>
        <tr>
          <td>L<sup>a</sup>T<sub>e</sub>X</td>
          <td>$$LaTeX code$$</td>
        </tr>
        <tr>
          <td><pre style="display: inline-block; margin: 4px 0"><code><span class="keyword">var </span>code = <span class="string">"formatted"</span>;</value></code</pre></td>
          <td style="line-height: 100%">``` <i style="color: rgba(0,0,0,0.5)">(shift+enter for line break)</i><br>var code = "formatted";</br>```</td>
        </tr>
    </tbody>
  </table>
</div>
<br>

