<div class="modal-content">
  <form id="troupeSettings">

    <select class="trpInput" style="width: 100%; height: 36px" id="notification-options">
    </select>

    <div class="u-font-smaller" id="nonstandard">
      <p><strong>Legacy settings</strong>: We've simplied our notification
        settings but you're using outdated settings. Choose a new option
        from the pull-down, or just leave them as they are for now.</p>
    </div>

    <div class="u-font-smaller">
      <p>Your settings:</p>
      <div id="notify-features">
      </div>
    </div>

  </div>

  </form>
</div>
<div id="request_validation" class="modal--default__content__error" style="display:none">
  <div class="modal--default__content__error" id="failure-text"></div>
</div>
