<div class="people-modal-result__avatar">
  {{ widget "avatar" user=this size="m" showTooltip=false showStatus=true }}
</div>
<h4>{{ displayName }}</h4>
<div class="people-modal-result__username">@{{ username }}</div>
