<div class="chat-input__area">
  <div class="chat-input__avatar">
    {{ widget "avatar" model=user size='s' showTooltip=false }}
  </div>
  <div id="chat-input-box-region" class="chat-input-box__region"></div>
  <div id="chat-input-buttons-region" class="chat-input__buttons"></div>
</div>
