<button class="chat-input__button js-toggle-compose-mode" data-compose-mode="{{when isComposeModeEnabled 'true' 'false'}}" aria-label="{{composeModeMessage}}">
  <i class="chat-input__button-icon chat-input__button-icon--compose icon-keyboard-1" aria-hidden="true"></i>
  <i class="chat-input__button-icon chat-input__button-icon--chat icon-chat-alt" aria-hidden="true"></i>
</button>
<a href="#markdown" class="chat-input__button js-markdown-help" aria-label="{{markdownHelpMessage}}">
  <i class="chat-input__button-icon octicon octicon-markdown" aria-hidden="true"></i>
</a>
