Andrew Newdigate <andrew@gitter.im>               Andrew Newdigate <andrew@troupe.co>
Andrew Newdigate <andrew@gitter.im>               Andrew Newdigate <andrewn@datatribe.net>
Andy Trevorah <andy@troupe.co>                    Andy Trevorah <a.trevorah@gmail.com>
Jon Parsons <jon@troupe.co>                       Jon Parsons <jon@ctrlxctrlv.co.uk>
Jon Parsons <jon@troupe.co>                       Jon Parsons <Pastey@ip-192-168-1-142.ec2.internal>
Jon Parsons <jon@troupe.co>                       CutAndPastey <jon@ctrlxctrlv.co.uk>
Le Roux Bodenstein <leroux@gitter.im>             Le Roux Bodenstein <leroux@lapdog.local>
Le Roux Bodenstein <leroux@gitter.im>             Le Roux Bodenstein <lerouxb@gmail.com>
Mike Bartlett <mike@gitter.im>                    Mike Bartlett <mike.bartlett@gmail.com>
Mike Bartlett <mike@gitter.im>                    Mike Bartlett <mike@hannibal.(none)>
Mike Bartlett <mike@gitter.im>                    Mike Bartlett <gh-mbtesting@hipgeeks.net>
Mike Bartlett <mike@gitter.im>                    Mike <mike.bartlett@gmail.com>
Mike Bartlett <mike@gitter.im>                    Michael Bartlett <mike@hannibal.(none)>
Mike Bartlett <mike@gitter.im>                    mbtesting <gh-mbtesting@hipgeeks.net>
Walter Carvalho <walter@gitter.im>                Walter Carvalho <waltervascarvalho@gmail.com>
Daniele Valeriani <daniele@gitter.im>             Daniele Valeriani <daniele@dvaleriani.net>
Daniele Valeriani <daniele@gitter.im>             Daniele Valeriani <daniele@valeriani.co.uk>
Eric Eastwood <eric@gitter.im>                    Eric Eastwood <madlittlemods@gmail.com>
Eric Eastwood <eric@gitter.im>                    Eric Eastwood <contact@ericeastwood.com>
Tim Lind <tim@troupe.co>                          Tim Lind <contact@timlind.com>
Mauro Pompilio <mauro@troupe.co>                  Mauro Pompilio <hackers.are.rockstars@gmail.com>
