<input class="gtrInput" autofocus placeholder="Search for people you know...">

<div class="gtrPeopleAddRoster">
  <div class='gtrPeopleAddRoster__adding js-add-roster-loading hide'><p><i class='isLoading pulse'></i> Adding...</p></div>
  {{!-- Added items will be here --}}
</div>

<div class="modal--default__content__error" id="modal-failure" style="display:none"></div>
<div class="modal--default__content__success" id="modal-success" style="display:none"></div>
