<div class='banner slide-away'>
  <button class="main"><i class="octicon {{octicon}}"></i><span id="banner-message">{{message}}</span></button>
  <button class="side"><i class="icon-cancel-circle"></i></button>
</div>
