{{#if avatarUrl}}
<img
  id="profile-menu-avatar"
  src="{{avatarUrl}}"
  class="profile-menu__avatar">
{{/if}}
<ul id="profile-menu-items" class="hidden dropdown profile-menu__list"></ul>
<div id="profile-menu-items-backdrop" class="hidden dropdown-backdrop" style="z-index: -1;"></div>
