
<div class="trpToolbarHeader">
  <h5 class="trpToolbarHeaderItem selected" id="activity-header">Activity</h5>
</div>

<ul class="right-toolbar-activity-list u-font-smaller" id="activity-list">{{{_prerender_inner}}}</ul>
