<div class="activity-item-inner github-member-add">
  <i class='octicon octicon-person activity-item__icon'></i>
  <div class="activity-time" id="time">{{ sentFormatted }}</div>
  <div class="gtrActivityItemText"><span class='mention' data-link-type="mention" data-screen-name="{{payload.member.login}}">{{payload.member.login}}</span> {{payload.action}} as member</div>
</div>
