<div class="trpContentPanel archive" id="content-wrapper">
  <div class="trpChatPanel">
    <div class="trpChatContainer  primary-scroll" id="content-frame" style="text-align: left">
      <div class="gtrArchiveHomeWrapper">
        <div id="cal-heatmap"></div>
        <!--
        <button class="trpButton trpBtnGreen switch-domain previous-domain">Previous</button>
        <button class="trpButton trpBtnGreen switch-domain next-domain">Next</button>
        -->
      </div>
    </div>
  </div>
</div>
