{{!< chat-layout}}
{{> chat_alert_wrapper}}
<div class="chat-header-wrapper">
  {{> chat_header}}
  <div class="chat-and-toolbar-wrapper">
    {{> chat_toolbar}}
    <div class="chat-app">
      {{> chat_content}}
      {{> chat_input}}
    </div>
  </div>
</div>

<div class="trpBlankPage"></div>
{{> set_initial_position}}
{{{ generateTroupeContext troupeContext }}}
{{{ bootScript bootScriptName jsRoot=jsRoot }}}
{{> chat_upload}}
