{{!< chat-layout}}
<div class="chat-and-toolbar-wrapper embedded">
  {{{threadMessageFeedHtml}}}
  <div class="chat-app">
    {{> chat_content}}
    {{> chat_input}}
  </div>
  <div class="trpBlankPage"></div>
  {{> set_initial_position_embed }}
</div>
