<html>
  <head>
  <link id="favicon" rel="shortcut icon" href='{{cdn "images/favicon-normal.ico" }}'>
  <title>Gitter - Chat, for GitHub</title>
  <script type="text/javascript">
    window.onload = function() {
      window.opener.postMessage("login_complete", "*");
      window.close();
    }
  </script>
  </head>
  <body>
  </body>
</html>
