<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gitter Faye Diagnostics</title>
  </head>

  <body>
    <div>
      Total Received: <span id="total"></span>
    </div>
    {{{ generateTroupeContext context }}}
    {{{ bootScript "faye-diagnostics" }}}
  </body>
</html>
