
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gitter - coming soon</title>
    <meta name="google-site-verification" content="nnoWjW8hKT4umkqn1UrCdVHtLs8Q2pDi5ek0x5PUHug" />
    <link href='https://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>


    <style type="text/css">
      body {
        background: linear-gradient(to bottom, #162E34 0%,#45595D 90%); /* W3C */
        -webkit-transition:background linear .5s;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         margin-top: -40px; /* Half the height */
         margin-left: -122px; /* Half the width */
      }

    </style>

  </head>

  <style>

  </style>

  <body>

<img src="{{ cdn 'images/full-logo-75-alt.png' }}" title="Coming soon">

  </body>
</html>
