
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Troupe -  Not Acceptable</title>
    <meta name="google-site-verification" content="nnoWjW8hKT4umkqn1UrCdVHtLs8Q2pDi5ek0x5PUHug" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ cdn 'images/favicon-error.ico' }}">

    <style type="text/css">
      body {
        background-color: #ecf1ec;
      }

      .image {
         position: absolute;
         top: 128px;
         left: 20%;
         width: 128px;
         height: 128px;
         margin-left: -32px; /* Half the width */
      }

      .error {
        position: absolute;
        top: 128px;
        left: 20%;
        margin-left: 128px;
        font-family: 'Open Sans', 'Sans';
        font-size: 24px;
        color: #666;
      }

      .error-text {
        font-size: 18px;
      }

      a {
        color: #1dce73;
      }

    </style>

  </head>

  <style>

  </style>

  <body>

    <a href="{{homeUrl}}"><img class="image" src="{{ cdn 'images/sad-face.png' }}" width="128" height="128" title="The sad face"></a>

    <div class="error">
      IT'S NOT US, IT'S YOU<br><br>
      <span class="error-text">We're terribly sorry, but we don't support Internet Explorer 9.
        <br><br>
        Why not try a modern browser such as IE10, Chrome or Firefox?</span>
      <br><Br>
    </div>


<script type="text/javascript">
  {{#if googleTrackingId}}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{googleTrackingId}}']);
  _gaq.push(['_setAllowAnchor',true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  {{/if}}


  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/BYBA0YJRpGVi5zrb99UoHQ.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>


  </body>
</html>
