
.icon-slider-vertical:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-star-1:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-laptop:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-globe-1:before { content: '\e809'; } /* '' */
.icon-paper-plane:before { content: '\e80a'; } /* '' */
.icon-ellipsis:before { content: '\e80b'; } /* '' */
.icon-graduation-cap:before { content: '\e80c'; } /* '' */
.icon-android:before { content: '\e80d'; } /* '' */
.icon-apple:before { content: '\e80e'; } /* '' */
.icon-facebook-official:before { content: '\e80f'; } /* '' */
.icon-gplus:before { content: '\e810'; } /* '' */
.icon-linux:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\e813'; } /* '' */
.icon-windows:before { content: '\e814'; } /* '' */
.icon-keyboard-1:before { content: '\e815'; } /* '' */
.icon-chat-alt:before { content: '\e816'; } /* '' */
.icon-cancel-circle:before { content: '\e817'; } /* '' */
.icon-at:before { content: '\e818'; } /* '' */
.icon-hash:before { content: '\e819'; } /* '' */
.icon-pencil:before { content: '\e81a'; } /* '' */
.icon-user:before { content: '\e81b'; } /* '' */
.icon-chat-empty:before { content: '\e81c'; } /* '' */
.icon-users:before { content: '\e81d'; } /* '' */
.icon-github-circled:before { content: '\e81e'; } /* '' */
.icon-google:before { content: '\e81f'; } /* '' */
.icon-cancel:before { content: '\e820'; } /* '' */
.icon-lightbulb:before { content: '\e821'; } /* '' */
.icon-g-cancel:before { content: '\e822'; } /* '' */
.icon-mail:before { content: '\e823'; } /* '' */
.icon-attention-circled:before { content: '\e825'; } /* '' */
.icon-spin:before { content: '\e834'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */