<div style="display: none;">
  <form id="upload-form" action="" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="params" value="">
    <input type="file" name="file" multiple="multiple"/>
  </form>
</div>
