<div class='chat-embed-footer'>
  <div class='chat-embed-footer__details'>
<!--
  MB: removed until we design this better
    <p><i class='icon-person'></i><b>{{usersOnline}}</b> {{pluralize usersOnline 'person' 'people'}} {{!-- use i18n --}} </p> -->
    <a id="login" class="btn subdued" href="#">Start Chatting</a>
  </div>
  <div class='chat-embed-footer__info'>
    <p>Sign in to start chatting.</p>
  </div>
</div>
