<button class="chat-header__left-menu-toggle js-header-view-left-menu-toggle">
  <svg class="chat-header__action-icon" viewBox="0 0 26 22">
    <path d="M0,2 l26,0" />
    <path d="M0,11 l26,0" />
    <path d="M0,20 l26,0" />
  </svg>
</button>
