<div class="logo-holder logo-animation">
  <div class="logo-left-arm logo-animation"></div>
  <div class="logo-body-left logo-animation"></div>
  <div class="logo-body-right logo-animation"></div>
  <div class="logo-right-arm logo-animation"></div>
</div>
